{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
    <h1>{{ subCategory.name }}</h1>
		<div class="row">
			{% for product in products %}
				<div class="col-md-3 mt-4">
					<div class="card" style="width: 18rem;">
						<a href="{{ path('app_home_product_show', {'id': product.id}) }}">
							<img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}"> 
						</a>
						<div class="card-body">
							<a href="{{ path('app_home_product_show', {'id': product.id}) }}" style="text-decoration: none; color: black;">
								<h5 class="card-title">{{ product.name }}</h5>
							</a>
							<p class="card-text">{{ product.description|slice(0,100) }}...</p>
						</div>
						<div class="row">
							<div class="card-body">
								<p class="card-text">{{ product.price }}</p>
								<a type="button" href="{{ path('app_cart_new', {'id': product.id}) }}">
									<i class="fa-solid fa-cart-shopping fa-lg" style="color: #000000"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
        	<br><br><br>
		{{ knp_pagination_render(products, 'layouts/pagination_template.html.twig') }}
	</div>
{% endblock %}
